<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="mapper.BusinessMapper" >
  <resultMap id="BaseResultMap" type="model.Business" >
    <id column="bid" property="bid" jdbcType="INTEGER" />
    <result column="photo" property="photo" jdbcType="VARCHAR" />
    <result column="uid" property="uid" jdbcType="INTEGER" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
  </resultMap>


  <resultMap id="BusinessResultMap" type="com.example.demo3h.model.Business" extends="baseBusinessResultMap">
    <collection property="BusinessInfo" javaType="ArrayList" ofType="com.example.demo3h.model.BusinessInfo">
      <id column="id" property="id"  />
      <result column="bid" property="bid" />
      <result column="title" property="title" />
      <result column="btype" property="btype" />
      <result column="address" property="address"/>
      <result column="describe" property="describe" />
      <result column="contact" property="contact" />
      <result column="releasetime" property="releasetime" />
      <result column="service" property="service" />
      <result column="photo" property="photo" />
      <result column="mobile" property="mobile" />
      <result column="browse" property="browse" />
    </collection>
  </resultMap>

  <select id="findBusinessInfoResultMap" resultMap="BusinessResultMap">
    SELECT
     *
    FROM
    `business_info` a
    INNER JOIN
     `business` b
     ON
     a.`bid`=b.`bid`
  </select>

</mapper>